@use 'variables.scss' as *;

.burger-button{
    
    transition: 200ms all;
    cursor: pointer;

    
    position: relative;
    z-index: 1000100000;

}

.burger-button.burger-active {
    
    
    
    transition: 200ms all;

}













* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--color-menu-text)
}

i {
    position: relative; 
    top: 1px;
}



nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  color: #FFF;

}

.menu-open-btn {
    cursor: pointer;
}

h1.header {
    position: absolute;
    bottom: 0;
    padding: 2em;
    margin: 0.25em;


}

.menu-overlay {
    width: 100%;
    padding: 2em;
    background-color: $purple;
    
    position: fixed;
    z-index: 9998;
    

}

.menu-close-btn {
    cursor: pointer;

}

.menu-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    color: $purple;
}

.menu-cols {
    display: flex;

}

.menu-cols > div {
    flex: 1;
}
