@use 'variables.scss' as *;

.burger-button{
    
    transition: 200ms all;
    cursor: pointer;

    
    position: relative;
    z-index: 1000100000;

}

.burger-button.burger-active {
    
    
    
    transition: 200ms all;

}























.menu-open-btn {
    cursor: pointer;
}



.menu-overlay {
    width: 100%;
    padding: 3vw;
    background-color: $purple;
    
    position: fixed;
    z-index: 9998;
    

}

.menu-close-btn {
    cursor: pointer;

}



.menu-cols {
    display: flex;

}

.menu-cols > div {
    flex: 1;
}
