$background: #fff2e5;
$green: #26efa2;
$purple: #6f00ff;
$blue: #5500ff;
$full-blue: #4001ff;
$orange: #f9896c;
$white: white;
$black-text: #1a174f;

$radius: 4.917vw;


$btn-text: 1.333vw;
$padding: 2.5vw;
$plates-gap: 0.833vw;


$bp-sm: 480px;   // маленькие экраны (мобильные)
$bp-md: 768px;   // средние экраны (планшеты)
$bp-lg: 1024px;  // большие экраны (ноутбуки)
$bp-xl: 1440px;  // очень большие экраны (десктопы)


$radius-m: 10vw;
$btn-text-m: 4vw;
$padding-m: 4.5vw;
